* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins.ttf);
}

:root{
    --font-primary: Poppins;
}

body {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 color: white;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size: 14px;
 font-family: var(--font-primary);
}

button {
 cursor: pointer;
}

.main{
  margin-top: 5rem;
}

/* Fondo */

.fondo-dia{
  background: linear-gradient(125deg, #97c1e8 0%, #61a1dd 17%, #002e7a 100%);
}

.fondo-noite{
  background: linear-gradient(125deg, #012241 0%, #013565 17%, #002e7a 100%);
}

/* Weather */

.weather__icon{
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  animation: movemento 5s ease-in-out infinite;
}

@keyframes movemento {

  0%, 100%{
    scale: 1;
    rotate:355deg;
  }

  50%{
    scale: .95;
    rotate:360deg;
  }
  
}

/* Buscar */

.buscar{
  height: 100vh;
  background-color: #2e333d;
}

.buscador{
  margin-top: 8rem;
}

/* Pronostico */

.pronostico{
  margin: 1rem 0px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pronostico__container{
  background-color: var(--bulma-scheme-main);
  width: 55px;
  height: 90px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pronostico__card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 55px;
}



.pronostico__img{
 width: 45px;
 display: flex;
 justify-content: center;
 align-items: center; 
}

.pronostico__img img{
  width: 30px;
}

#forecast-container {
  overflow-x: auto;
  white-space: nowrap; 

  &::-webkit-scrollbar{
    display: none;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;
}

#forecast-template .pronostico__card {
  display: inline-block;
  margin-right: 10px; 
}


